<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Membership</title>
</head>
<body>
  <!-- <h1>Product: {{.}}</h1> -->
  <h1>Membership</h1>
  {{if .Member}}
    <h1>Thank you for joining</h1>
  {{else}}
    <h1>Please signup to enjoy membership benefits</h1>
  {{end}}

  eq .Language "English": {{eq .Language "English"}} <br>
  eq .Language "Indonesia": {{eq .Language "Indonesia"}} <br>
  eq .Language "Spanish": {{eq .Language "Spanish"}} <br>

  {{if eq .Language "English"}}
    <h1>Hello</h1>
  {{else if eq .Language "Indonesia"}}
    <h1>Halo</h1>
  {{else if eq .Language "Spanish"}}
    <h1>Hola</h1>
  {{else}}
    <h1>
      <ul>
        <li>Hello</li>
        <li>Halo</li>
        <li>Hola</li>
      </ul>
    </h1>
  {{end}}
</body>
</html>